@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Asap', sans-serif;
    color: white;
    background-color: black;
}
img {
    display: block;
    width: 100%;
}
.kind__image {
   width: 300px;
   height: 300px;
}
.our-services__h2, .our-services__subheader {
    text-align: center;
}
.our-services__kinds{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}